<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\JLP\Downloads\Firefox\AngularJSAuthentication.API.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>2767-12803</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext_DatabasePublish" Order="1" Enabled="False">
          <Destination Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthContext_DatabasePublish_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AngularJSAuthEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;User ID=DB_2767_vimobdb_user;Password=Zimbo703!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AngularJSAuthEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/CampaignModel.csdl|res://*/CampaignModel.ssdl|res://*/CampaignModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s01.everleap.com;initial catalog=DB_2767_vimobdb;user id=DB_2767_vimobdb_user;password=Zimbo703!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CampaignEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AngularJSAuthentication.API.CampaignEntities, AngularJSAuthentication.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="6" Enabled="False">
          <Destination Path="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AngularJSAuthentication.API.AuthContext, AngularJSAuthentication.API" MigrationConfiguration="AngularJSAuthentication.API.Migrations.Configuration, AngularJSAuthentication.API" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AngularJSAuthEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CampaignModel.csdl|res://*/CampaignModel.ssdl|res://*/CampaignModel.msl;provider=System.Data.SqlClient;provider connection string="data source=s01.everleap.com;initial catalog=DB_2767_vimobdb;persist security info=True;user id=DB_2767_vimobdb_user;password=Zimbo703!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext_DatabasePublish-Web.config Connection String">
      <ParameterValue>Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CampaignEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CampaignModel.csdl|res://*/CampaignModel.ssdl|res://*/CampaignModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=s01.everleap.com;Initial Catalog=DB_2767_vimobdb;Persist Security Info=True;User ID=DB_2767_vimobdb_user;Password=Zimbo703!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>